.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 0px;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 99;
}
.header_logo {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_container {
  width: 90vw;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(
    90deg,
    rgba(207, 203, 203, 0.2) 100%,
    hsla(0, 5%, 81%, 0.2) 0
  );
  z-index: 999;
  backdrop-filter: blur(10px);
  background-color: transparent;
  padding: 10px 20px;
  border-radius: 10px;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.nav_links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  transition: color 0.3s ease;
}
.nav_links a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 17px;
  font-weight: 500 !important;
  cursor: pointer;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.Enrollment_btn {
  background-color: #fff;
  border-radius: 25px;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 40px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.Enrollment_btn:hover {
  cursor: pointer;
}
.menu_icon {
  display: none;
  cursor: pointer;
  order: 3;
}

.nav_links {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .header_logo {
    height: 60px;
    width: 60px;
  }
  .menu_icon {
    display: block;
  }
  .header_container {
    height: 60px;
  }

  .nav_links {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
  background: linear-gradient(
    90deg,
    rgba(207, 203, 203, 0.2) 100%,
    hsla(0, 5%, 81%, 0.2) 0
  );
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }

  .show_menu {
    display: flex;
  }
  .Enrollment_btn {
    background-color: #fff;
    padding: 10px 20px;
    display: none;
  }
}
@media (max-width: 425px) {
  .Enrollment_btn {
    padding: 10px 10px !important;
    font-size: 11px !important;
  }
  .header_container {
    height: 60px;
  }
}
